/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Apr-2016, 10:40:02
    Author     : esphere
*/

.additional-information-item{
    margin-top: 10px;
}

.success{
    color: green;
}
.failed{
    color: red;
}
