.clear {
    clear: both;
}
.group-select {
    width: 100%;
    float: left;
    padding: 15px 0 15px 20px;
}
.group-list {
    width: 100%;
    float: left;
    padding: 0 0 0 20px;
}
.select-title {
    padding: 0 0 10px 20px;
}
.group-img {
    float: left;
    width: 115px;
    margin-bottom: 10px
}
.brandImage {
    height: 35px;
    margin-right: 10px;
    float: left;
}
.group-info {
    width: 100%;
    margin-right: 10px; 
    float: left;
    padding: 5px;
    border: 1px solid;
    max-width: 300px;
    min-height: 20px;
    margin-bottom: 10px;
}
.group-button {
    float: left;
    margin-bottom: 10px;
    width: 100%;
    max-width: 125px;
}
.select-payment {
    float:left;
    width:100%;
    display:none;
}
.action-secondary {
    cursor: pointer;
    cursor: hand;
}