<?xml version="1.0"?>
<!--
/**
 * Magedelight
 * Copyright (C) 2019 Magedelight <info@magedelight.com>
 *
 * Category Magedelight
 * Package Magedelight_Subscribenow
 * Copyright Copyright (c) 2019 Mage Delight (http://www.magedelight.com/)
 * License http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * Author Magedelight <info@magedelight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="checkout_subscribenow_init_amount" xsi:type="object">Magedelight\Subscribenow\Model\InitAmountConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="checkout_subscribenow_trial_amount" xsi:type="object">Magedelight\Subscribenow\Model\TrialAmountConfigProvider</item>
            </argument>
        </arguments>
    </type>
    
    <!--  Save Payment Card forcefully -->
    <type name="Magedelight\Cybersource\Model\Config">
        <plugin name="md_cybersource_subscribe_payment_config" type="Magedelight\Subscribenow\Plugin\Payment\Config\Cybersource" sortOrder="1" />
    </type>
    <type name="Magedelight\Authorizecim\Model\Config">
        <plugin name="md_authorizecim_subscribe_payment_config" type="Magedelight\Subscribenow\Plugin\Payment\Config\Authorizecim" sortOrder="1" />
    </type>
    <type name="Magedelight\Firstdata\Model\Config">
        <plugin name="md_firstdata_subscribe_payment_config" type="Magedelight\Subscribenow\Plugin\Payment\Config\Firstdata" sortOrder="1" />
    </type>
    <type name="Magedelight\Moneris\Model\Config">
        <plugin name="md_moneris_subscribe_payment_config" type="Magedelight\Subscribenow\Plugin\Payment\Config\Moneris" sortOrder="1" />
    </type>
    <type name="Magedelight\Monerisca\Model\Config">
        <plugin name="md_monerisca_subscribe_payment_config" type="Magedelight\Subscribenow\Plugin\Payment\Config\Monerisca" sortOrder="1" />
    </type>
    <type name="Magedelight\Stripe\Model\Config">
        <plugin name="md_stripe_subscribe_payment_config" type="Magedelight\Subscribenow\Plugin\Payment\Config\Stripe" sortOrder="1" />
    </type>
    <!-- End : Save Payment Card forcefully -->
    
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="md_subscribenow_productlist_text" type="Magedelight\Subscribenow\Plugin\ProductListPlugin" sortOrder="999" />
    </type>
    <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="md_subscribenow_catalogwidget_productlist_text" type="Magedelight\Subscribenow\Plugin\WidgetProductListPlugin" sortOrder="999" />
    </type>
    <virtualType name="Magento\CatalogSearch\Block\SearchResult\ListProduct">
        <plugin name="md_subscribenow_catalogsearch_productlist_text" type="Magedelight\Subscribenow\Plugin\ProductListPlugin" sortOrder="999" />
    </virtualType>
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="subscribenow_subscription_product_redirection" type="Magedelight\Subscribenow\Plugin\AbstractProductPlugin" sortOrder="999" />
    </type>
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="md_subscription_guest_user_oncheckout_login_observer" type="Magedelight\Subscribenow\Plugin\AccountManagement" />
    </type>
    <!-- to remove showing subscription additional_info on cart page -->
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
    	<plugin name="md_subscribenow_remove_cart_subscription_info" type="Magedelight\Subscribenow\Plugin\Magento\Checkout\Block\Cart\Item\Renderer" />
    </type>
</config>
