<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd'>
    <type name='Magefan\Blog\Model\Author'>
        <plugin name='exclude_lastname' type='HookahShisha\Magefan\Plugin\Model\Author' sortOrder='10' disabled='false'  />
    </type>
    <preference for="Magefan\BlogGraphQl\Model\Resolver\DataProvider\Post" type="HookahShisha\Magefan\Model\Resolver\DataProvider\Post" />
</config>