<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogGraphQl\Model\Resolver\Product\Price\ProviderPool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="giftcard" xsi:type="object">Alfakher\GiftProduct\Model\Resolver\Product\Price\Provider</item>
            </argument>
        </arguments>
    </type>
</config>
