.easycredit-review .easycredit-review-title {
	padding: 0 0 10px;
	border-bottom: 1px solid #cccccc;
}
.box-order-shipping-method, .box-order-shipping-address, .box-order-billing-address {
	box-sizing: border-box;
	float: left;
	width: 33%;
}
.cancel_easycredit {
	margin-right: 15px !important;
}
