<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <vrpayecommerce_general>
                <title>General</title>
                <version>2.4.12</version>
                <bearer></bearer>
                <login></login>
                <password></password>
                <recurring>0</recurring>
                <merchant_email></merchant_email>
                <merchant_no></merchant_no>
                <shop_url></shop_url>
                <behind_proxy></behind_proxy>
                <proxy_url></proxy_url>
                <proxy_port></proxy_port>
                <widget_style>card</widget_style>
                <show_popup></show_popup>
                <merchant_location></merchant_location>
            </vrpayecommerce_general>
        </general>
        <payment>
            <vrpayecommerce_ccsaved>
                <active>0</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\CCSaved</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Credit Card (Recurring)</title>
                <server_mode>TEST</server_mode>
                <card_selection>VISA,MASTER,AMEX,DINERS,JCB</card_selection>
                <transaction_mode>DB</transaction_mode>
                <capture_order></capture_order>
                <register_amount></register_amount>
                <multichannel>0</multichannel>
                <channel_id></channel_id>
                <channel_id_moto></channel_id_moto>
                <sort_order>1</sort_order>
            </vrpayecommerce_ccsaved>
            <vrpayecommerce_creditcard>
                <active>0</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\CreditCard</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Credit Card</title>
                <server_mode>TEST</server_mode>
                <card_selection>VISA,MASTER,AMEX,DINERS,JCB</card_selection>
                <transaction_mode>DB</transaction_mode>
                <capture_order></capture_order>
                <channel_id></channel_id>
                <sort_order>2</sort_order>
            </vrpayecommerce_creditcard>
            <vrpayecommerce_ddsaved>
                <active>0</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\DDSaved</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Direct Debit (Recurring)</title>
                <server_mode>TEST</server_mode>
                <transaction_mode>DB</transaction_mode>
                <capture_order></capture_order>
                <register_amount></register_amount>
                <channel_id></channel_id>
                <sort_order>3</sort_order>
            </vrpayecommerce_ddsaved>
            <vrpayecommerce_directdebit>
                <active>0</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\DirectDebit</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Direct Debit</title>
                <server_mode>TEST</server_mode>
                <transaction_mode>DB</transaction_mode>
                <capture_order></capture_order>
                <channel_id></channel_id>
                <sort_order>4</sort_order>
            </vrpayecommerce_directdebit>
            <vrpayecommerce_giropay>
                <active>1</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\Giropay</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Giropay</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sort_order>5</sort_order>
            </vrpayecommerce_giropay>
            <vrpayecommerce_klarnapaylater>
                <active>0</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\Klarnapaylater</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Pay later.</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <merchant_id></merchant_id>
                <sort_order>6</sort_order>
            </vrpayecommerce_klarnapaylater>
            <vrpayecommerce_klarnasliceit>
                <active>0</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\Klarnasliceit</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Slice it.</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <merchant_id></merchant_id>
                <currency>2</currency>
                <country>81</country>
                <language>28</language>
                <shared_secret></shared_secret>
                <pclass_id></pclass_id>
                <pclass_description></pclass_description>
                <pclass_months></pclass_months>
                <pclass_start_fee></pclass_start_fee>
                <pclass_invoice_fee></pclass_invoice_fee>
                <pclass_interest_rate></pclass_interest_rate>
                <pclass_minimum_purchase></pclass_minimum_purchase>
                <pclass_country></pclass_country>
                <pclass_type></pclass_type>
                <pclass_expiry_date></pclass_expiry_date>
                <sort_order>7</sort_order>
            </vrpayecommerce_klarnasliceit>
            <vrpayecommerce_paydirekt>
                <active>1</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\Paydirekt</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>paydirekt</title>
                <server_mode>TEST</server_mode>
                <transaction_mode>DB</transaction_mode>
                <capture_order></capture_order>
                <channel_id></channel_id>
                <minimum_age></minimum_age>
                <is_partial>0</is_partial>
                <sort_order>8</sort_order>
            </vrpayecommerce_paydirekt>
            <vrpayecommerce_paypalsaved>
                <active>0</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\PaypalSaved</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>PayPal (Recurring)</title>
                <server_mode>TEST</server_mode>
                <transaction_mode>DB</transaction_mode>
                <capture_order></capture_order>
                <register_amount></register_amount>
                <channel_id></channel_id>
                <sort_order>9</sort_order>
            </vrpayecommerce_paypalsaved>
            <vrpayecommerce_paypal>
                <active>0</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\Paypal</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>PayPal</title>
                <server_mode>TEST</server_mode>
                <transaction_mode>DB</transaction_mode>
                <capture_order></capture_order>
                <channel_id></channel_id>
                <sort_order>10</sort_order>
            </vrpayecommerce_paypal>
            <vrpayecommerce_klarnaobt>
                <active>1</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\Klarnaobt</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Online Bank Transfer.</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sort_order>11</sort_order>
            </vrpayecommerce_klarnaobt>
            <vrpayecommerce_easycredit>
                <active>1</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\EasyCredit</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>easyCredit-Ratenkauf</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <shop_name></shop_name>
                <sort_order>12</sort_order>
            </vrpayecommerce_easycredit>
            <vrpayecommerce_enterpay>
                <active>1</active>
                <model>Vrpayecommerce\Vrpayecommerce\Model\Method\Enterpay</model>
                <capture_order></capture_order>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Kauf auf Rechnung TEBA Pay</title>
                <server_mode>TEST</server_mode>
                <channel_id></channel_id>
                <sort_order>13</sort_order>
            </vrpayecommerce_enterpay>
        </payment>
    </default>
</config>
