<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pdfinvoice_settings>
            <general_setting>
                <enabled>0</enabled>
                <vat_tax_per>0.05</vat_tax_per>
                <vat_divide_by>1.05</vat_divide_by>
                <currency_label>AED </currency_label>
                <ooka_white_sku>0840299716158</ooka_white_sku>
                <ooka_black_sku>0840299716141</ooka_black_sku>
                <ooka_white_value>[{"name":"OOKA White Device","upi":734},{"name":"Mouthpiece and Premium Adjustable Hose","upi":180},{"name":"Power Cable","upi":110},{"name":"Water Tank","upi":240},{"name":"Cleaning Brush","upi":55},{"name":"Tongs","upi":45},{"name":"Valve stop, valve ball, down pipe seal, vent valve, Portal lid seal, Packaging","upi":135}]</ooka_white_value>
                <ooka_black_value>[{"name":"OOKA Black Device","upi":734},{"name":"Mouthpiece and Premium Adjustable Hose","upi":180},{"name":"Power Cable","upi":110},{"name":"Water Tank","upi":240},{"name":"Cleaning Brush","upi":55},{"name":"Tongs","upi":45},{"name":"Valve stop, valve ball, down pipe seal, vent valve, Portal lid seal, Packaging","upi":135}]</ooka_black_value>
            </general_setting>
        </pdfinvoice_settings>
    </default>
</config>