<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="HookahShisha\InvoicePdf\Model\Order\Pdf\Invoice" />
   <preference for="Magento\Bundle\Model\Sales\Order\Pdf\Items\Invoice" type="HookahShisha\InvoicePdf\Model\Order\Pdf\Bundle\Items\Invoice" />
   <preference for="Magento\Sales\Model\Order\Pdf\Items\Invoice\DefaultInvoice" type="HookahShisha\InvoicePdf\Model\Order\Pdf\Items\Invoice\DefaultInvoice" />
</config>