<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <hookahshisha>
                <productpage>
                    <productpageb2b_document_Verification_section>Your document(s) are under verification. You would receive an email once there is an update.</productpageb2b_document_Verification_section>
                    <productpageb2b_document_rejection_sections>Some of your document(s) has been rejected. Please update the same.</productpageb2b_document_rejection_sections>
                    <productpageb2b_documents_expired_sections>Some of the document(s) has been expired.</productpageb2b_documents_expired_sections>
                    <productpageb2b_documents_expired_mail_enable>0</productpageb2b_documents_expired_mail_enable>
                    <productpageb2b_documents_verification_required>Document(s) verification would be required to view pricing of the product.</productpageb2b_documents_verification_required>
                    <productpageb2b_documents_underverification_and_expired>Document(s) are under verification and some of them are expired.</productpageb2b_documents_underverification_and_expired>
                    <productpageb2b_documents_msg_for_guest>You need to register &amp; upload your business document to reveal pricing.</productpageb2b_documents_msg_for_guest>
                </productpage>
                <my_document>
                    <is_enabled>1</is_enabled>
                </my_document>
            </hookahshisha>
        </default>
    </config>
