<div data-bind="visible: canVisibleBlock">
    <div class="payment-option opc-payment-additional ordercomment comment last">
        <div class="payment-option-title field choice" data-role="title">
            <strong>
                <span class="action" role="heading" aria-level="2">
                    <!-- ko i18n: 'Leave your Comment'--><!-- /ko -->
                </span>
            </strong>
        </div>
        <div class="payment-option-content" data-role="content">
            <form class="form form-comment order-comment-form">
                <div class="payment-option-inner">
                    <div class="field">
                        <div class="control">
                            <textarea class="input-text order_comment" name="order_comment" rows="4" data-bind="attr:{placeholder: $t('Enter your comment...')} " ></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
