<?xml version="1.0"?>
<!--
/**
 * @category  HookahShisha
 * @package   HookahShisha_SwatchesGraphQl
 * @author    Janis Verins <info@corra.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\SwatchesGraphQl\Model\Resolver\Product\Options\DataProvider\SwatchDataProvider"
                type="HookahShisha\SwatchesGraphQl\Model\Resolver\Product\Options\DataProvider\SwatchDataProvider"/>
</config>
