<!--@subject {{trans "Thank you for Giftcard"}}  @-->
{{template config_path="design/email/header_template"}}
<table style="width:100%;border:1px solid;" >
    <caption style="display: none"> table heading caption </caption>
    <tr>
        <th id="table-main" style="display: none"></th>
    </tr>
    <tr>
        <td style="align-items:center;vertical-align:top;padding:20px 0 20px 0">
            <div style="text-align: center">
                <p style="font-size:18px;margin:0;">
                    <strong>{{trans "Thank you"}}</strong>
                </p>
            </div>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
