<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator\Initializer\Option">
        <plugin name="check_selected_option_stock_status_in_cart"
                type="Corra\QuoteBundleItemStock\Plugin\Model\Quote\Item\QuantityValidator\Initializer\Option" sortOrder="10" disabled="false" />
    </type>
</config>
