<?xml version="1.0"?>
<!--
/**
 * @category  HookahShisha
 * @package   HookahShisha_RmaGraphQl
 * @author    Janis Verins <info@corra.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HookahShisha_RmaGraphQl">
        <sequence>
            <module name="Magento_RmaGraphQl"/>
        </sequence>
    </module>
</config>
