<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="mpproductlabels_product" type="Mageplaza\ProductLabels\Plugin\Block\AbstractProduct" />
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="additional_provider_shipping_selected" xsi:type="object">HookahShisha\Customization\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Bundle\Helper\Catalog\Product\Configuration">
        <plugin name="bundle_remove_price" type="HookahShisha\Customization\Helper\Catalog\Product\Configurations"/>
    </type>
    
    <!-- add handeling fee in invoice pdf -->
    <type name="Magento\Tax\Model\Sales\Pdf\Shipping">
        <plugin name="handelingFeeplugin" type="HookahShisha\Customization\Model\Sales\Pdf\AfterShipping"/>
    </type>

    <!--subtotal issue solve in invoice pdf -->
    <type name="Magento\Tax\Model\Sales\Pdf\Subtotal">
        <plugin name="subtotalAfterPlugin" type="HookahShisha\Customization\Model\Sales\Pdf\AfterSubtotal"/>
    </type>

    <type name="Amasty\RequestQuote\Model\CheckoutConfigProvider\ShippingAddress">
        <plugin name="amstyRequestQuoteShippingAddress" type="HookahShisha\Customization\Model\CheckoutConfigProvider\ShippingAddress" />
    </type>

</config>
