<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cataloginventory" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Inventory</label>
            <tab>catalog</tab>
            <resource>Magento_CatalogInventory::cataloginventory</resource>
            <group id="options" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="1" showInStore="1">
                <label>Stock Options</label>
                <field id="show_out_of_stock_products_last" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show out of stock product at the bottom of PLP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
