<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <plugin name="order_grid_offline_payment_records" type="Alfakher\OfflinePaymentRecords\Plugin\OrderGridOfflinePaymentRecords" sortOrder="5" />
    </type>
</config>