<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="alfakher_ordercomment-display_comment" type="Alfakher\OrderComment\Plugin\Block\Adminhtml\SalesOrderViewInfo" sortOrder="8888" />
    </type>
    <preference for="Magento\Sales\Model\Order\Payment" type="Alfakher\OrderComment\Model\Order\Payment" />
    <type name="Magento\Sales\Controller\Adminhtml\Order\AddComment">
        <plugin name="set_order_status"
                type="Alfakher\OrderComment\Plugin\Order\SetStatusParam"
                sortOrder="5"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\History">
        <plugin name="set_empty_order_status"
                type="Alfakher\OrderComment\Plugin\Order\SetEmptyStatus"
                sortOrder="5"/>
    </type>
</config>
