<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <seamlesschex>
                <active>0</active>
                <model>Alfakher\Seamlesschex\Model\SeamlesschexPaymentMethod</model>
                <order_status>pending</order_status>
                <title>Seamlesschex(ACH)</title>
                <group>offline</group>
                <is_sandbox>1</is_sandbox>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>
            </seamlesschex>
        </payment>
    </default>
</config>