<?xml version="1.0"?>
<!--
/**
 * @author af_bv_op
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<!--Adding sales approve button-->
	<type name="Magento\Sales\Block\Adminhtml\Order\View">
		<plugin name="sales_order_adminhtml_view_sales_approve_button_plugin" type="Alfakher\SalesApprove\Plugin\Sales\Block\Adminhtml\Order\View"/>
	</type>

 	<preference for="Magento\Sales\Block\Adminhtml\Order\Create" type="Alfakher\SalesApprove\Block\Adminhtml\Order\Create"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <plugin name="signifyd_guarantee_filter_sales_order_grid"
                type="Alfakher\SalesApprove\Plugin\AddDataToOrdersGrid"
                sortOrder="10"
                disabled="false"/>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="signifyd_connect_order_grid_collection" type="Alfakher\SalesApprove\Plugin\Order\Grid\Collection" />
    </type>
</config>
