<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="document_save_after">
        <observer name="al_wh_save_document_after" instance="Alfakher\Webhook\Observer\AfterDocumentSave"/>
    </event>
    <event name="document_update_after">
        <observer name="al_wh_update_document_after" instance="Alfakher\Webhook\Observer\AfterDocumentSave"/>
    </event>
    <event name="document_delete_after">
        <observer name="al_wh_delete_document_after" instance="Alfakher\Webhook\Observer\AfterDocumentDelete"/>
    </event>
    <event name="blueedit_save_after">
        <observer name="al_wh_blueedit_save_after" instance="Alfakher\Webhook\Observer\AfterBlueeditOrder"/>
    </event>
    <event name="rma_create_after">
        <observer name="al_wh_rma_save_after" instance="Alfakher\Webhook\Observer\AfterRmaCreate"/>
    </event>
    <event name="rma_update_after">
        <observer name="al_wh_rma_update_after" instance="Alfakher\Webhook\Observer\AfterRmaCreate"/>
    </event>
</config>