<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- removed the Address validation from company account create -->
    <preference for="Magento\Company\Model\SaveValidator\RequiredFields" type="HookahShisha\Customerb2b\Model\Company\SaveValidator\RequiredFields"/>

    <!-- Adding the new field's data -->
    <preference for="Magento\Customer\Block\Form\Register" type="HookahShisha\Customerb2b\Block\Customer\Form\Register"/>

    <!-- becuase we are getting array to string convert error when we are edit update company from the admin -->
    <preference for="Magento\Framework\DB\Adapter\Pdo\Mysql" type="HookahShisha\Customerb2b\DB\Adapter\Pdo\Mysql"/>
    
    <!-- added the extra parameter for the admin side form display -->
    <preference for="Magento\Company\Model\Company\DataProvider" type="HookahShisha\Customerb2b\Model\Company\Company\DataProvider"/>

    <!-- Interface added on the model <preference for="Magento\Company\Api\Data\CompanyInterface" type="HookahShisha\Customerb2b\Api\Company\Data\CompanyInterface"/> -->
    <preference for="Magento\Company\Model\Company" type="HookahShisha\Customerb2b\Model\Company\Company"/>

    <!-- Added the field on the extractData -->
    <preference for="Magento\Company\Controller\Adminhtml\Index\Save" type="HookahShisha\Customerb2b\Controller\Adminhtml\Company\Index\Save"/>

    <!-- remove the company status as approved not saved -->
    <preference for="Magento\Company\Plugin\Customer\Api\AccountManagement" type="HookahShisha\Customerb2b\Plugin\Company\Customer\Api\AccountManagement"/>
    <preference for="Magento\Customer\Block\Account\Navigation" type="HookahShisha\Customerb2b\Block\Account\Navigation"/>

    <!-- product pricing redirect same page  -->
    <preference for="Magento\Checkout\Model\Cart" type="HookahShisha\Customerb2b\Model\Cart"/>
    
    <preference for="Magento\Ui\Model\Export\ConvertToCsv" type="HookahShisha\Customerb2b\Model\Export\ConvertToCsv" />
    
    <preference for="Magento\Shipping\Helper\Data" type="HookahShisha\Customerb2b\Helper\Data" />
    <preference for="Magento\Company\Model\Email\Sender" type="HookahShisha\Customerb2b\Model\Email\Sender" />
</config>
