<?xml version="1.0"?>
<!--
/**
 * @author  CORRA
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Corra\Spreedly\Block\Payment">
        <arguments>
            <argument name="config" xsi:type="object">Corra\Spreedly\Model\Ui\ConfigProvider</argument>
        </arguments>
    </type>

    <type name="Corra\Spreedly\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Vault\Model\Ui\Adminhtml\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="spreedly" xsi:type="object">Corra\Spreedly\Model\Ui\Adminhtml\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>
</config>
