<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hookahshisha">
            <resource>HookahShisha_Productpageb2b::productpageb2b_config</resource>
            <group id="productpageb2b" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer B2B Product Detail</label>
                <field id="productpageb2b_price_section_for_guest" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Price section for Guests</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="productpage" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Documentation Messages</label>
                <field id="productpageb2b_document_Verification_section" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Verification Message</label>
                </field>
                <field id="productpageb2b_document_rejection_sections" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rejection Message</label>
                </field>
                 <field id="productpageb2b_documents_expired_sections" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expired document Message</label>
                </field>
                <field id="productpageb2b_documents_expired_mail_enable" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Expired document Mail Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="productpageb2b_documents_verification_required" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Document Require Message</label>
                </field>
                <field id="productpageb2b_documents_underverification_and_expired" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Document Underverification and Expired Message</label>
                </field>
                <field id="productpageb2b_documents_msg_for_guest" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Guest User Document Message</label>
                </field>
            </group>
            <group id="my_document" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>My Documents B2B Configuration</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show My Documents in MyAccount page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
