<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer" translate="label">
            <group id="magento_customerbalance" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="80">
                <label>Store Credit Options</label>
                <field id="is_disable" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Store Credit</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show Store Credit in Myaccount and Checkout Page</comment>
                </field>
            </group>
        </section>
    </system>
</config>
