<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\GiftCard\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="final_price" xsi:type="string">Alfakher\GiftProduct\Pricing\Price\FinalPrice</item>
                <item name="maximal_final_price" xsi:type="string">Alfakher\GiftProduct\Pricing\Price\MaximalFinalPrice</item>
            </argument>
        </arguments>
    </virtualType>
</config>
