<?xml version="1.0"?>
<!--
 * @category  Shishaworld
 * @package   Shishaworld_GraphQlTranslation
 * @author    Codilar
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Shishaworld_GraphQlTranslation"/>
</config>
