<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="hookahshisha">
            <group id="af_offline_payment_records" translate="label" type="text" sortOrder="100" showInDefault="0" showInWebsite="1" showInStore="0">
                <label>Offline Payment Records</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="after_invoice" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow Adding Payment for Invoice Order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="valid_payment" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable for Payment</label>
                    <source_model>Alfakher\OfflinePaymentRecords\Model\Config\Source\Adminpayments</source_model>
                </field>

            </group>

        </section>
	</system>
</config>