<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="md_subscribenow_subscription_failed">
        <observer name="subscription_failed_log" instance="HookahShisha\SubscribeGraphQl\Observer\SubscriptionFailedObserver" />
    </event>
</config>
