<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HookahShisha_SubscribeGraphQl">
        <sequence>
            <module name="Magedelight_Subscribenow"/>
            <module name="Magedelight_SubscribenowGraphQl"/>
            <module name="HookahShisha_Quote"/>
            <module name="HookahShisha_QuoteGraphQl"/>
        </sequence>
    </module>
</config>