<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Resolver\Discounts">
        <plugin name="discount_issue_cart" type="HookahShisha\QuoteGraphQl\Plugin\Discounts"/>
    </type>
    <preference for="Magento\Quote\Model\Quote\Item\Repository"
                type="HookahShisha\QuoteGraphQl\Model\Quote\Item\Repository"/>
</config>
