<?xml version="1.0"?>   
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

  <!-- Changes for display shipping methods on shipping edit -->
  <preference for="MageWorx\OrderEditor\Controller\Adminhtml\Form\Load" type="Alfakher\ShippingEdit\Controller\Adminhtml\Form\Load"/>

  <!-- For save new quote after edit shipping method --> 
    <preference for="MageWorx\OrderEditor\Controller\Adminhtml\Edit\Shipping" type="Alfakher\ShippingEdit\Controller\Adminhtml\Edit\Shipping" />

    <type name="MageWorx\OrderEditor\Model\Shipping">
        <plugin name="Alfakher_remove" type="Alfakher\ShippingEdit\Plugin\Model\Shipping" sortOrder="10" disabled="false"  />
    </type>

</config>