<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hookahshisha" translate="label" sortOrder="10">
            <label>HookahShisha</label>
        </tab>
        <section id="hookahshisha" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>B2B Configuration</label>
            <tab>hookahshisha</tab>
            <resource>HookahShisha_Customerb2b::customer_config</resource>
            <group id="business_details" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer B2B Business Details</label>
                <field id="enable_business" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tooltip_sales_tax_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Tooltip for sales Tax Id:-</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable_business">1</field>
                    </depends>
                </field>
            </group>
            <group id="b2bsendmail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Company Registration Email Setting</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="b2bcstadminsendmail" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Send Company Registration Email Copy To</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[add multiple email id using comma separated.]]></comment>
                </field>
            </group>
            <group id="registeremail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Send Mail on Registration</label>
                <field id="enable_mail" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="website_code_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Website Code Setting</label>
                <field id="website_code" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Add Website Code</label>
                    <comment><![CDATA[add multiple website code using comma separated.]]></comment>
                </field>
            </group>
            <group id="company_assign" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Select websites for send email when company assigned/changed</label>
                <field id="company_websites" translate="label" type="multiselect" sortOrder="10" showInDefault="1">
                    <label>Websites</label>
                    <source_model>Alfakher\ExitB\Model\Config\Source\StoreOption</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
