<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <preference for="Avalara\Excise\Model\ProcessTaxQuote" type="HookahShisha\Avalara\Model\ProcessTaxQuote"/>
        <preference for="Avalara\Excise\Model\Tax\Sales\Total\Quote\Tax" type="HookahShisha\Avalara\Model\Tax\Sales\Total\Quote\Tax" />
</config>