<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- save slope payment information in order -->
    <event name="sales_order_place_after">
		  <observer name="save_slope_information_to_order" instance="Alfakher\SlopePayment\Observer\SaveSlopeInformationToOrder"/>
	  </event>
    <!-- finilize slope order after shipping is generated -->
    <event name="sales_order_shipment_save_after">
		  <observer name="slope_payment_finalize_order_after_shippment" instance="Alfakher\SlopePayment\Observer\FinalizeSlopeOrder"/>
	  </event>
</config>
