<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <base>
            <recaptcha_frontend>
                <type_for>
                    <pwa_place_order>null</pwa_place_order>
                </type_for>
            </recaptcha_frontend>
        </base>
    </default>
    <websites>
        <base>
            <recaptcha_frontend>
                <type_recaptcha_v3>
                    <public_key>6Lc68TMoAAAAAO4JleOxP3yWE75S-mInsr7fzZaQ</public_key>
                    <private_key>6Lc68TMoAAAAAHBi8Q-RXjpPs6Nfh6BkoVI9qcCF</private_key>
                </type_recaptcha_v3>
            </recaptcha_frontend>
        </base>
    </websites>
</config>
