<?xml version="1.0"?>
<!--
/**
 * @category  HookahShisha
 * @package   HookahShisha_ReCaptcha
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HookahShisha_ReCaptcha">
        <sequence>
            <module name="Magento_QuoteGraphQl"/>
        </sequence>
    </module>
</config>
