<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Resolver\BillingAddress">
        <plugin name="Checkoutchanges::Setaddresses" type="HookahShisha\Checkoutchanges\Plugin\QuoteGraphQl\Model\Resolver\BillingAddressPlugin"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\MergeCarts">
        <plugin name="Checkoutchanges::MergeCarts" type="HookahShisha\Checkoutchanges\Plugin\QuoteGraphQl\Model\Resolver\MergeCartsPlugin"/>
    </type>
</config>
