<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="hookahshisha">
            <group id="handling_fee_group" translate="label" type="text" sortOrder="100" showInDefault="0" showInWebsite="1" showInStore="0">
                <label>Handling Fee</label>
                <field id="handling_fee_enable" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="handling_fee_type" translate="label" type="select" sortOrder="2" showInDefault="0" showInWebsite="1" showInStore="0">
                   <label>Fee Type</label>        
                   <source_model>Alfakher\HandlingFee\Model\Config\Source\HandlingFeeType</source_model>
                   <depends>
                        <field id="handling_fee_enable">1</field>
                    </depends>
                </field>

                <field id="handling_fee" translate="label" type="text" sortOrder="3" showInDefault="0" showInWebsite="1" showInStore="0" >
                    <label>Handling Fee</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="handling_fee_enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="af_discount_group" translate="label" type="text" sortOrder="100" showInDefault="0" showInWebsite="1" showInStore="0">
                <label>Totals Discount</label>
                <field id="subtotal_enable" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Subtotal Discount</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="shipping_enable" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Shipping Discount</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="zero_out_enable" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Zero Out Order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>

        </section>
	</system>
</config>