<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hookahshisha>
            <excise_tax_note>
                <incl_excise_tax_note>ALL STATE TOBACCO PRODUCT TAXES ARE INCLUDED IN THE TOTAL AMOUNT OF THIS INVOICE</incl_excise_tax_note>
                <excl_excise_tax_note>PURCHASER RESPONSIBLE FOR EXCISE TAX</excl_excise_tax_note>
            </excise_tax_note>
            <default_shipping_selection_conf>
                <enable>0</enable>
                <selected_shipping_name>tablerate_bestway</selected_shipping_name>
                <enable_position>0</enable_position>
                <selected_shipping_position>0</selected_shipping_position>
                <timeout>100</timeout>
            </default_shipping_selection_conf>
        </hookahshisha>
        <graphql_payment>
            <payment_details>
                <disable_payment_garphql>1</disable_payment_garphql>
                <payment_needs_disable>checkmo</payment_needs_disable>
            </payment_details>
        </graphql_payment>
        <invoice_template_customization>
            <region_id>
                <kn_region_id>79</kn_region_id>
            </region_id>
        </invoice_template_customization>
    </default>
</config>
