<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magetrend_pdf_templates_add_additional_data">
        <observer name="additional_vars"
                  instance="HookahShisha\Customization\Observer\Povariable"/>
    </event>
</config>