<?xml version="1.0"?>
<!--
/**
 * author CORRA.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Corra_AttributesGraphQl">
        <module name="Magento_CatalogGraphQl"/>
    </module>
</config>