#payment_us_spreedly-head::before {
    display: none;
!important;
}
#payment_us_spreedly-head {
    background-repeat: no-repeat;
    background-position: 0 22px;
    background-image: url(https://media.hookah-shisha.com/media/wysiwyg/logo/spreedly-logo.png);
    background-attachment: scroll;
    background-size: 20rem;
    height: 66px;
    width: auto;
    padding-left: 20rem;
    display: inline-block;
    vertical-align: middle;
}
.spreedly-payment-text {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0 1em;
}

